* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
main {
  max-width: 1900px;
  height: 100vh;
  /* background-image: url('./assets/background1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center; */
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 500px) {
  .header-main-box {
    display: none;
  }
}
